page-informacio {
  $colors: (
    primary:    #488aff,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    checkmark-circle: #ff0000,
    close-circle: #009900
  );
  ion-select{
  	padding: 0px;
  	border: solid 1px #DDD;
  	background-color: rgb(221, 41, 91);
  	color: #FFF;
  	border-radius: 3px;
  	margin: 0px;
    width: auto;
  }
}
