page-geodescobrir {
  .brujola {
    position: relative;
    top: -10px;
  }
  .brujola1 {
    position: relative;
    top: -18px;
  }
  .indicador{
    color: red;
    font-size: 35px;
  }
  .graus{
    position: relative;
    font-size: 3px;
    top: -10px;
    font-weight: bold;
  }

}
