<ion-header>
  <ion-navbar>
    <ion-title>
        <img src="assets/imgs/logo-vdl-mini.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-card *ngIf="data">
    <img src="http://lavalldelord.com/appvallLord/storage/app/images/{{data.imatgeSecundaria}}">
    <ion-fab right top>
      <button ion-fab>
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>


    <ion-item>
      <ion-list>
        <ion-item>
          <ion-icon name="restaurant" item-left large ></ion-icon>
          <h1>
            <strong>{{data.nom}}</strong>
          </h1>
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item *ngFor="let item of items">
      <ion-list inset>
        <ion-item>
          Menú
          <ion-icon *ngIf="item.Menu==='checkmark-circle'" name={{item.Menu}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.Menu==='close-circle'" name={{item.Menu}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Menu infantil
          <ion-icon *ngIf="item.MenuInfantil==='checkmark-circle'" name={{item.MenuInfantil}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.MenuInfantil==='close-circle'" name={{item.MenuInfantil}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Carta
          <ion-icon *ngIf="item.Carta==='checkmark-circle'" name={{item.Carta}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.Carta==='close-circle'" name={{item.Carta}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Cuina Catalana
          <ion-icon *ngIf="item.CuinaCatalana==='checkmark-circle'" name={{item.CuinaCatalana}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.CuinaCatalana==='close-circle'" name={{item.CuinaCatalana}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Pizza
          <ion-icon *ngIf="item.Pizza==='checkmark-circle'" name={{item.Pizza}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.Pizza==='close-circle'" name={{item.Pizza}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Plats combinats
          <ion-icon *ngIf="item.PlatsCombinats==='checkmark-circle'" name={{item.PlatsCombinats}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.PlatsCombinats==='close-circle'" name={{item.PlatsCombinats}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Entrepans
          <ion-icon *ngIf="item.Entrepans==='checkmark-circle'" name={{item.Entrepans}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.Entrepans==='close-circle'" name={{item.Entrepans}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Apte per celiacs
          <ion-icon *ngIf="item.ApteCeliacs==='checkmark-circle'" name={{item.ApteCeliacs}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.ApteCeliacs==='close-circle'" name={{item.ApteCeliacs}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Terrassa
          <ion-icon *ngIf="item.Terrasa==='checkmark-circle'" name={{item.Terrasa}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.Terrasa==='close-circle'" name={{item.Terrasa}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
        <ion-item>
          Zona d’esbarjo
          <ion-icon *ngIf="item.ZonaEsbarjo==='checkmark-circle'" name={{item.ZonaEsbarjo}}  [ngStyle]="{'color': 'green'}" item-end></ion-icon>
          <ion-icon *ngIf="item.ZonaEsbarjo==='close-circle'" name={{item.ZonaEsbarjo}}  [ngStyle]="{'color': 'red'}" item-end></ion-icon>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>

    </ion-item>
    <ion-item>
        <button ion-button icon-left >
          <ion-icon name="navigate"></ion-icon>
          {{data.direccio}}
        </button>
    </ion-item>

  </ion-card>

</ion-content>
