page-info-restaurant {
  ion-icon[name=checkmark-circle] {
    color: green;
  }
  ion-icon[name=close-circle] {
    color: red;
  }
  .checkmark-circle{
    color: green;
  }
  .close-circle{
    color: red;
  }
}
