page-home {
  .home_background{
    background-image: url('../assets/imgs/clot-de-vilamala-75.jpg');
    -webkit-background-image: url('../assets/imgs/clot-de-vilamala-75.jpg');
    background-repeat:no-repeat;
      background-size: cover;
  }

}
